version: "3.4"

#### common partials (needs docker-compose v3.4)
x-base: &base
  build:
    args:
      http_proxy: ${http_proxy:-}
      https_proxy: ${https_proxy:-}
      no_proxy: ${no_proxy:-}
  environment:
    REDIS_URL: redis://redis:6379/0
  depends_on: [redis]

volumes:
  redis_volume: {}

services:
  dotnet:
    <<: *base
    build:
      context: ./dotnet
    environment:
      REDIS_URL: redis:6379

  ruby:
    <<: *base
    build:
      context: ./ruby

  dart:
    <<: *base
    build:
      context: ./dart

  python:
    <<: *base
    build:
      context: ./python

  node:
    <<: *base
    build:
      context: ./node
    ports: ["3000:3000"]

  redis:
    image: redis:4.0.7-alpine
    ports: ["6379:6379"]
    volumes: ["redis_volume:/data"]

  redis_commander:
    image: rediscommander/redis-commander # NOTE: only 'latest' tag available
    ports: ["8081:8081"]
    environment:
      REDIS_HOSTS: redis
    depends_on: [redis]
